.UserSidebar {
	height: 100%;
	box-sizing: border-box;
	background: white;
	display: flex;
	flex-direction: column;
	.logo {
		padding-bottom: 30px;
		margin: 0 auto;
	}
	.footer {
		margin-top: auto;
		p {
			font-size: 12px;
			color: var(--primarylt);
		}
	}
	ul.user-nav-list {
		list-style: none;
		padding: 0 30px;
		li {
			padding: 30px 0;
			a {
				transition: 0.3s;
				&:hover {
					img.user-navlink-icon {
						transform: rotate(15deg);
						fill: var(--primarylt);
					}
					span.user-navlink-label {
						color: var(--primarylt);
					}
				}
				&.active {
					span.user-navlink-label {
						font-weight: bold;
					}
				}
				img.user-navlink-icon {
					width: 30px;
					margin-right: 20px;
					transition: 0.3s;
					fill: var(--primarylt);
				}
				span.user-navlink-label {
					color: var(--primary);
					transition: 0.3s;
				}
			}
		}
	}
}
