.UserDashActivity {
    overflow: scroll;
    height: calc(100vh - 128px);
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}