@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-container {
        height: 100%;
        width: 10.5rem;
        padding: 15px;
      }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .option {
          padding: 10px 15px;
          text-align: left;
          text-decoration: none;
          font: normal normal bold 18px/24px 'Roboto', sans-serif;
          letter-spacing: 0px;
          color: #4A31C1;
          cursor: pointer;
        }
        .option:hover{
          color: #DBA74C;
        }
    }
}