.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-container {
        height: 100%;
        width: 10.5rem;
        padding: 5px;
      }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .option {
          padding: 10px 15px;
          text-align: left;
          text-decoration: none;
          font: normal normal bold 18px/24px 'Roboto', sans-serif;
          letter-spacing: 0px;
          color: #4A31C1;
          cursor: pointer;
        }
        .option:hover{
          color: #DBA74C;
        }
    }
    
    @media screen and (max-width: 991px) {
      .logo-container {
        width: 7.5rem;
      }
      .options {
        background-color: #f8f9fa;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        .option:hover{
          color: #DBA74C;
        }
      }
    }
}