/*
    TODO: Change styling once we get styling from mock-ups.
*/
.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
      }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .option {
          padding: 10px 15px;
          text-align: left;
          font: normal normal bold 18px/24px Roboto;
          letter-spacing: 0px;
          color: #4A31C1;
          cursor: pointer;
        }
        .option:hover{
          color: #DBA74C;
        }
    }
}