.UserDashProfile {
    padding: 0 30px 30px;
    height: 100%;
    .user-quick-touches {
        display: flex;
        align-items: center;
        justify-content: center;
        .headshot {
            border-radius: 50%;
            border: solid 10px white;
            filter: drop-shadow(5px 5px 30px rgba(0,0,0,0.1));
            margin: 0 10px;
            width: 65%;
        }
        .dropdown-menu {
            background: white;
        }
        button {
            color: var(--primary);
            background: transparent;
            &.dropdown-toggle {
                border: none;
                padding: 0 5px 4px;
                height: auto;
                line-height: initial;
                vertical-align: baseline;
                &:hover {
                    transform: rotate(30deg);
                }
                &::after {
                    border: none;
                        margin-left: 0;
                }
                &:focus {
                    background: var(--primary);
                    box-shadow: 0 0 0 0.2rem var(--primarymd);
                    color: white;
                }
            }
            &.show.dropdown {
                .dropdown-toggle {
                    background: var(--primarymd);
                }
            }
            &.dropdown-item {
                a {
                    color: var(--primary);
                    padding: 15px;
                    display: inline-block;
                    &:hover {
                        background: var(--primarylt);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    hr {
        margin-top: 2rem;
    }
    .account-group {
        padding: 15px 0;
        font-size: 21px;
        font-family: 'Roboto', sans-serif;
        
        p {
            color: var(--primary);
            font-weight: bold;
            font-size: 16px;
            &.account-group-label {
                font-weight: lighter;
                color: var(--primarymd);
                margin: 0 0 10px;
            }
        }
    }
}